@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body, html, input, * {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 9px;
}
body, html, .swal2-container.swal2-center {
  margin: 0;
}

#visualization {
  position: relative;
}

.menu {
  position: absolute;
  display: table-cell;
  vertical-align: middle;
  bottom: -50px;
  right: 0;
  margin: 10px;
  z-index: 9999;
}

.range {
  margin: -12px 12px 0 0;
  background: #333;
}

label, input {
  vertical-align: middle;
  padding: 0px;
  margin: 0px;
  height: 20px;
  margin-top: -12px;
  margin-right: 12px;
}

.buttons-menu {
  background-color: rgba(207, 203, 203, 0.8);
  color: #fff;
  padding: 4px;
  margin: 0;
  z-index: 999;
  /* border-radius: 50px; */
  cursor: pointer;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
}

.buttons-menu:hover {
  opacity: 0.9;
}

#moveLeft {
  left: 0;
  box-shadow: 4px 0 2px #ccc;
}

#moveRight {
  right: 0;
  box-shadow: -4px 0 2px #ccc;
}

.button-home {
  background-color: #555;
  color: #fff;
  padding: 8px;
  border-radius: 50px;
  cursor: pointer;
}
.button-home:hover {
  opacity: 0.9;
}